.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 30rem;
    border-radius: 5px;
    border: 1px solid skyblue;
}

.search-btn {
    border-radius: 50px;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: .6rem;
    height: 3rem;
    width: 3rem;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);  
    color: white; 

}